{% extends "base.html" %}

{% block content %}
    <!-- content row -->
    <div class="row">
        <div class="col">
            <h3><p>Introduction about My Self.</p></h3>

            <p style="font-size: large">First of all, welcome to my website. My name is Shubham. I am currently pursuing
                my masters in computer science at NJIT and have completed my bachelors in computer engineering. I also
                have
                1+ years of IT support experience and did an internship as a software engineer. So far, I've created
                projects using the Django Framework, but this time I got the opportunity to learn the Flask Framework
                for
                this project and also got more ideas about Pylint, AAA Testing, OOPS Concepts, and SOLID principles.</p>
            <p style="font-size: large">
                This Web development work is done under the project of Web system development IS601 subject to get
                hands-on experience and to get familiar with different technologies such as Docker, Git, Python-Flask,
                CI/CD, and Bootstrap, including Pytest, Pylint, AAA Testing, OOPS Concepts, and SOLID principles. </p>
            <p style="font-size: large">To quickly refresh on Pylint, AAA Testing, OOPS Concepts, and SOLID Principles,
                click on the navigation bar and go through each technology. Also, you can click on any carousel to
                quickly
                navigate through that page.</p>
        </div>
        <div class="col-3"></div>
    </div>
    <!-- content row end-->

    <style>
        body {
            font-size: 120%;
        }

        .navbar-nav > .active > a {
            color: black;
        }
    </style>


{% endblock %}