<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="stylesheet" href="../static/css/style.css"/>

    <title>{% block title %}{% endblock %}This is {{ name }} Website</title>

</head>
<body>


<div class="container">
    <div class="row row-auto">
        <header class="mb-2">
            <!-- navbar -->
            <nav class="navbar navbar-expand-sm navbarcustomcolor">
                <div class="container">
                    <div class="header-item mt-n1 mb-n1 d-md-flex">
                        <a class="navbar-brand navbarcustomfontcolor" href="/">
                            <h3><i class="bi bi-house-door-fill"></i>Home</h3></a>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item ">
                            <a href="/git" class="nav-link navbarcustomfontcolor">Git</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/docker" class="nav-link navbarcustomfontcolor">Docker</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/flask" class="nav-link navbarcustomfontcolor">Python/ Flask</a>
                        </li>
                        <li class="nav-item active ">
                            <a href="/cicd" class="nav-link navbarcustomfontcolor">CI/CD</a>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- end of navbar -->
        </header>
    </div>

    <!-- main row 1 -->
    <div class="row">
        <!-- col 1 -->
        <h4>Lets read about CI/CD</h4>
        <div class="col-8">
            <p>A CI/CD pipeline is a series of steps that must be performed in order to deliver a new version of
                software. Continuous integration and continuous delivery(CI/CD) pipelines are a practice focused on
                improving software delivery using either a DevOps or site reliability engineering (SRE) approach.<br>

                A CI/CD pipeline introduces monitoring and automation to improve the process of application development,
                particularly at the integration and testing phases as well as during delivery and deployment. Although
                it is possible to manually execute each of the steps of a CI/CD pipeline, the true value of CI/CD
                pipelines is realized through automation.
            </p>
            <h5>Elements of a CI/CD pipeline</h5>
            <p>
                The steps that form a CI/CD pipeline are distinct subsets of tasks grouped into what is known as a
                pipeline stage. Typical pipeline stages include:
            <ul>
                <li><b>Build:</b>The stage where the application is compiled.</li>
                <li><b>Test:</b>The stage where code is tested. Automation here can save both time and effort.
                </li>
                <li><b>Release:</b> The stage where the application is delivered to the repository.</li>
                <li><b>Deploy</b>In this stage code is deployed to production.</li>

            </ul>
            </p>
            </p> to use github actions first i have to wite workflow file to tell when this actions is going to hit so in this project i have 2 workflow file which is production and development.
            <ul><li> at the time of <b>pushing </b>to master branch my production workflow will trigger and first run ubuntu server then it will start to install all the dependecies and next is building new image in given repo to docker Hub. and at the and after building new image it will deploy to heroku. </li>
                <li>at the time of<b> pull request </b>on master branch at that time my development workflow will trigger and in that development workflow first it checks all test and then it will deploy to heroku</li></p>
        </div>
        <!-- col 1 end -->
        <!-- col 2 for images -->

        <div class="col">
            <!-- row 1 image1 -->
            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/cicd1.png') }}" class="img-fluid mb-5 border"
                     alt="Image 1">
            </div>
            <!-- row 1 image1 end -->
            <!-- row 2 image2 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/cicd2.png') }}" class="img-fluid mb-5 border"
                     alt="Image 2">
            </div>
            <!-- row 2 image2 end -->
            <!-- row 3 image3 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/cicd3.png') }}" class="img-fluid mb-5 border"
                     alt="Image 3">
            </div>
            <!-- row 3 image3 end -->

        </div>
        <!-- col 2 for images end-->

    </div>
    <!-- main row 1 end-->


</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
