{% extends "base.html" %}
{% block content %}
    <!-- main row 1 -->
    <div class="row">
        <!-- col 1 -->
        <h4>Lets read about OOPs concepts</h4>
        <div class="col-8">
            <p>Object-Oriented Programming (OOP) uses "objects" to model realworld objects.
                        Object-Oriented Programming (OOP) consist of following some important concepts referred to as
                        the OOPS
                        concepts.
                    <ul>
                        <li>Encapsulation</li>
                        <li>Inheritance</li>
                        <li>Polymorphism</li>
                        <li>Abstraction</li>
                    </ul>
                    </p>
        </div>
        <!-- col 1 end -->
        <!-- col 2 for images -->

        <div class="col">
            <!-- row 1 image1 -->
            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/oops1.png') }}" class="img-fluid mb-5 border"
                     alt="OOPs image 1">
            </div>
            <!-- row 1 image1 end -->
            <!-- row 2 image2 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/oops2.png') }}" class="img-fluid mb-5 border"
                     alt="OOPs image 2">
            </div>
            <!-- row 2 image2 end -->
            <!-- row 3 image3 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/oops3.png') }}" class="img-fluid mb-5 border"
                     alt="OOPs image 3">
            </div>
            <!-- row 3 image3 end -->
            <!-- row 3 image4  -->
            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/oops4.png') }}" class="img-fluid mb-5 border"
                     alt="OOPs image 4">
            </div>
            <!-- row 3 image4 end -->
        </div>
        <!-- col 2 for images end-->

    </div>
    <!-- main row 1 end-->
{% endblock %}
