{% extends "base.html" %}
{% block content %}
    <div class="row">

        <!-- col 1 -->
        <h4>Lets read about Pylint</h4>
        <div class="col-8">
            <p>Pylint is a static code analysis tool written in Python for the purpose of analysis. It may check for
                programming flaws, implement coding standards best practices, discover code violations, and advise
                reworking. It is totally customisable by the user and has built-in specific routines for controlling
                particular errors and alarms within the user's code.</p>
            <p> to install pylint on windows or mac machine according to documentation you should write<br> <code>pip
                install pylint</code></p>
            <p>As you can see in image1 that shows that in this application i have made test for every page including
                operations by doing that i can make sure that my page is currently opening and there will be no issue
                after deploying to development and here you can see after starting session it gives testfile path pytest
                and pylint version as summery here need of operation test to make sure that defined
                calculator methods are giving proper answer or not. in the image2 you can see that here if i
                divide by zero then it will generate an error message otherwise it will pass the test.<br> here you can
                see in image3 that in the divide operation test i have checked both conditions one as normal condition
                and second one as a divide by zero to check our functions are working properly or not while giving any
                numbers. </p>


            <h4>So below are the General definitions:</h4>
            <p>
            <ul>
                <li><h5>OOP terms with definitions:</h5>Object-Oriented Programming (OOP) uses "objects" to model
                    realworld objects. Object-Oriented Programming (OOP) consist of following some important concepts
                    referred to as the OOPS concepts.
                    <ul>
                        <li><b>Encapsulation</b>: --</li>
                        <li><b>Inheritance</b>: --</li>
                        <li><b>Polymorphism</b>: --</li>
                        <li><b>Abstraction</b>: --</li>
                    </ul>
                </li>

                <li><h5>instantiation:</h5> -----</li>
                <li><h5>object:</h5> -----</li>
                <li><h5>class:</h5> -----</li>
                <li><h5>namespace:</h5> -----</li>
                <li><h5>constructor:</h5> -----</li>
                <li><h5>fixture:</h5> -----</li>
                <li><h5>type hint:</h5> -----</li>
                <li><h5>type cast:</h5> -----</li>
                <li><h5>unit test:</h5> -----</li>
                <li><h5>static:</h5> -----</li>
                <li><h5>instance method:</h5> -----</li>
                <li><h5>instance property:</h5> -----</li>
                <li><h5>static method:</h5> -----</li>
                <li><h5>static property:</h5> -----</li>
                <li><h5>Overview of SOLID:</h5> SOLID principles
                    SOLID is an acronym that stands for five object-oriented design principles that help you make the
                    software more understandable, easier to maintain, and easier to extend.
                    <ul>
                        <li><b>S</b>ingle-responsibility--</li>
                        <li><b>O</b>pen-closed--</li>
                        <li><b>L</b>iskov Substitution--</li>
                        <li><b>I</b>nterface Segregation--</li>
                        <li><b>D</b>ependency Inversion--</li>
                    </ul>

                </li>
                <li><h5>overview of Design Patterns:</h5> -----</li>


            </ul>

            </p>
        </div>
        <!-- col 1 end -->

        <!-- col 2 for images -->
        <div class="col">
            <!-- row 1 image1 -->
            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/pylint1.png') }}" class="img-fluid mb-5 border"
                     alt="Pylint image 1">
            </div>
            <!-- row 1 image1 end -->
            <!-- row 2 image2 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/pylint2.png') }}" class="img-fluid mb-5 border"
                     alt="Pylint image 2">
            </div>
            <!-- row 2 image2 end -->
            <!-- row 3 image3 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/pylint3.png') }}" class="img-fluid mb-5 border"
                     alt="Pylint image 3">
            </div>
            <!-- row 3 image3 end -->

            <!-- row 4 image4 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/pylint4.png') }}" class="img-fluid mb-5 border"
                     alt="Pylint image 4">
            </div>
            <!-- row 4 image4 end -->

        </div>
        <!-- col 2 for images end-->

    </div>
    <!-- main row 1 end-->


{% endblock %}
