{% extends "base.html" %}
{% block content %}
    <div class="row">

        <!-- col 1 -->
        <h4>Lets read about Pylint</h4>
        <div class="col-8">
            <p>Pylint is a static code analysis tool written in Python for the purpose of analysis. It may check for
                programming flaws, implement coding standards best practices, discover code violations, and advise
                reworking. It is totally customisable by the user and has built-in specific routines for controlling
                particular errors and alarms within the user's code.</p>
            <p>As you can see in image1 that shows that in this application i have made test for every page including
                operations by doing that i can make sure that my page is currently opening and there will be no issue
                after deploying to development and here i also performed operation test to make sure that defined
                calculator methods are giving proper answer or not. in the image2 you can see that here if i
                divide by zero then it will generate an error message otherwise it will pass the test. </p>
            <p>
            <ul>
                <li>Centralized version control is easier to learn than distributed. If you are a beginner, you’ll have
                    to remember all the commands for all the operations in DVCS, and working on DVCS might be confusing
                    initially
                </li>
                <li>DVCS is faster than CVCS because you don’t need to communicate with the remote server for each and
                    every command. You do everything locally, which gives you the benefit of working faster than CVCS.
                </li>
                <li>DVCS has the biggest advantage in that it allows you to work offline and gives flexibility. You have
                    the entire history of the code on your own hard drive, so all the changes you make will be on your
                    own server or to your own repository, which doesn’t require an internet connection, but this is not
                    the case with CVCS.
                </li>
                <li>Merge conflicts with other developers' code are less in DVCS. Because every developer works on their
                    own piece of code, Merge conflicts are more common in CVCS in comparison to DVCS.
                </li>
                <li> If the main server goes down or crashes in DVCS, you can still get the backup or entire history of
                    the code from your local repository or server where the full revision of the code is already saved.
                    This is not the case in the case of CVCS. There is just a single remote server that has the entire
                    code history.
                </li>
            </ul>
            </p>
            <h4>So below are the Git operations/terms/commands:</h4>
            <p>
            <ul>
                <li><h5>Repositories:</h5> Git Repositories contain different files for different versions of a project.
                    These files are imported into the local server as we talked about DVCS above, so a VCS is used to
                    create these versions and store them in a specific place. We call it a repository. To initialize
                    your repository in your project, type the command <b>git init </b>and start adding your files.
                </li>

                <li><h5>Branches:</h5> A branch is a repository version that differs from the main working project. Most
                    contemporary version control systems include this feature. There can be multiple branches in a Git
                    project. These branches offer a graphical representation of your changes. When you want to add a new
                    feature or fix a bug, you generate a new branch to summarize your modifications
                </li>

                <li><h5>commit:</h5> So this Git command, as its name suggests, commits your work. That means saving
                    your work in repositories, but as we talked about before, to commit anything, you have to add those
                    files, and then you can commit it. Otherwise, if you do commit directly, it will tell you nothing to
                    commit. So every time you make a change, you have to tell it to the commit command, which will work
                    or execute. At the time of execution, you have to give one flag with a comment, and that flag could
                    be -m or -a, so it represents the only modified file, and -a represents all files you can use
                    according to your needs. The commit command looks like this: <b> git commit -m "this is a
                        comment" </b> and
                    yes, before this you have to add those changes, so for that you need to execute the add command,
                    which is <b>git add.</b></li>

                <li><h5>merge: </h5>git merge is a command that joins two development histories together.That is, if you
                    are currently working on two different branches and want to combine all of your work from both
                    branches into one, git merge is a useful procedure to use.So to perform a merge, you need to last
                    commit, then you need to checkout to that branch and then you have to execute the merge command.
                    That would be <b> git merge [commit id] </b>
                </li>

                <li><h5>Tags:</h5> are specific reference points in git history. Git tags are used to capture a specific
                    point in history that is further used to point to a released version. You can create a tag with git
                    <b>tag <-a feature1.1> </b>(also known as annotated tags)
                </li>

            </ul>

            </p>
        </div>
        <!-- col 1 end -->

        <!-- col 2 for images -->
        <div class="col">
            <!-- row 1 image1 -->
            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/pylint1.png') }}" class="img-fluid mb-5 border"
                     alt="Pylint image 1">
            </div>
            <!-- row 1 image1 end -->
            <!-- row 2 image2 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/pylint2.png') }}" class="img-fluid mb-5 border"
                     alt="Pylint image 2">
            </div>
            <!-- row 2 image2 end -->
            <!-- row 3 image3 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/pylint3.png') }}" class="img-fluid mb-5 border"
                     alt="Pylint image 3">
            </div>
            <!-- row 3 image3 end -->

            <!-- row 4 image4 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/pylint4.png') }}" class="img-fluid mb-5 border"
                     alt="Pylint image 4">
            </div>
            <!-- row 4 image4 end -->

        </div>
        <!-- col 2 for images end-->

    </div>
    <!-- main row 1 end-->


{% endblock %}
