{% extends "base.html" %}
{% block content %}
    <!-- main row 1 -->
    <div class="row">
        <!-- col 1 -->
        <h4>Lets read about SOLID</h4>
        <div class="col-8">
            <p>SOLID is an acronym that stands for five object-oriented design principles that
                help you make the software more understandable, easier to maintain, and easier to extend.Below are the
                examples from Calculator app about sold principles to understand by examples.
            <ul>
                <li><b>S</b>ingle-responsibility: As the name suggests, single responsibility means a call should have
                    only one job. In our calculator app, in the operation and calculation names, you can see that we
                    have separate classes for each operation or calculation, which shows the single responsibility
                    principle in the calculator app.<br>
                    <pre class="border-top border-bottom" style="height: 300px">class Division:
    """This is the Division class"""

    @staticmethod
    def divide(value_1, value_2):
        """ This is the Divide method"""
        try:
            return value_1 / value_2
        except ZeroDivisionError:
            return "you can't divide by zero"


class Multiplication:
    """ This is the Multiplication class"""

    @staticmethod
    def multiply(value_1, value_2):
        """ This is the add method"""
        return value_1 * value_2


class Addition:
    """ This is the addition class"""

    @staticmethod
    def add(value_1, value_2):
        """ This is the add method"""
        return value_1 + value_2


class Subtraction:
    """ This is the subtraction class"""

    @staticmethod
    def subtract(value_1, value_2):
        """ This is the add method"""
        return value_1 - value_2
</pre>
                </li>
                <li><b>O</b>pen-closed: This principle tells us function should open for extension but close for
                    modifications. so in the calculator class we are coding to a interface named calculations for
                    specific class and also in the calculations interface we are importing another interface called
                    operations and all the operation will perform there. so basically Coding to an interface is an
                    integral part of SOLID so that's how open-closed principle used in calculator app we are extending
                    our interfaces and performing operations and those operations methods are closed for any
                    modifications they just take values and return the results.
                    <pre class="border-top border-bottom">class Division:
    """This is the Division class"""

    @staticmethod
    def divide(value_1, value_2):
        """ This is the Divide method"""
        try:
            return value_1 / value_2
        except ZeroDivisionError:
            return "you can't divide by zero"</pre>
                    in below code <code>get_result()</code> method will get called from interface calculations so we can
                    extend or do changes in the Division class in calculations interface but we can't do any change in
                    Division class from
                    operations interface.<br><br>
                    <pre class="border-top border-bottom">class Division(Calculation):
    """Division calculation object"""

    def get_result(self):
        """get the Division results"""
        result = 1.0
        for value in self.values:
            result = Div.divide(result, value)
        return result</pre>
                </li>
                <li><b>L</b>iskov Substitution</li>
                <li><b>I</b>nterface Segregation</li>
                <li><b>D</b>ependency Inversion</li>
            </ul>
            </p>
        </div>
        <!-- col 1 end -->
        <!-- col 2 for images -->

        <div class="col">
            <!-- row 1 image1 -->
            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/solid1.png') }}"
                     class="img-fluid mb-5 border border-dark"
                     alt="SOLID Image 1">
            </div>
            <!-- row 1 image1 end -->
            <!-- row 2 image2 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/solid2.png') }}"
                     class="img-fluid mb-5 border border-dark"
                     alt="SOLID Image 2">
            </div>
            <!-- row 2 image2 end -->
            <!-- row 3 image3 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/solid3.png') }}"
                     class="img-fluid mb-5 border border-dark"
                     alt="SOLID Image 3">
            </div>
            <!-- row 3 image3 end -->

            <!-- row 4 for refer -->
            <div class="row mb-3">
                <a href="https://www.digitalocean.com/community/conceptual_articles/s-o-l-i-d-the-first-five-principles-of-object-oriented-design"
                   class="img-fluid mb-5 border border-dark"
                   alt="pylint reference">Reference for Python SOLID Principles</a>
            </div>
            <!-- row 4 for refer end -->

        </div>
        <!-- col 2 for images end-->

    </div>
    <!-- main row 1 end-->

{% endblock %}

