{% extends "base.html" %}
{% block content %}
    <!-- main row 1 -->
    <div class="row">
        <!-- col 1 -->
        <h4>Lets read about SOLID</h4>
        <div class="col-8">
            <p>SOLID is an acronym that stands for five object-oriented design principles that
                        help you make the software more understandable, easier to maintain, and easier to extend.
                    <ul>
                        <li><b>S</b>ingle-responsibility</li>
                        <li><b>O</b>pen-closed</li>
                        <li><b>L</b>iskov Substitution</li>
                        <li><b>I</b>nterface Segregation</li>
                        <li><b>D</b>ependency Inversion</li>
                    </ul>
                    </p>
        </div>
        <!-- col 1 end -->
        <!-- col 2 for images -->

        <div class="col">
            <!-- row 1 image1 -->
            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/solid1.png') }}" class="img-fluid mb-5 border"
                     alt="SOLID Image 1">
            </div>
            <!-- row 1 image1 end -->
            <!-- row 2 image2 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/solid2.png') }}" class="img-fluid mb-5 border"
                     alt="SOLID Image 2">
            </div>
            <!-- row 2 image2 end -->
            <!-- row 3 image3 -->

            <div class="row mb-3">
                <img src="{{ url_for('static', filename='images/solid3.png') }}" class="img-fluid mb-5 border"
                     alt="SOLID Image 3">
            </div>
            <!-- row 3 image3 end -->

        </div>
        <!-- col 2 for images end-->

    </div>
    <!-- main row 1 end-->

{% endblock %}

