{% extends "base.html" %}
{% block navbaritems %}
    {% if current_user.is_authenticated %}
                            {{ render_nav_item('auth.dashboard','Dashboard' ) }}
                            {{ render_nav_item('songs.songs_browse','My Songs' ) }}
                            {{ render_nav_item('songs.songs_upload','Upload Songs' ) }}
                            {{ render_nav_item('map.browse_locations','Browse Locations' ) }}
                            {{ render_nav_item('map.location_upload','Upload Locations' ) }}
                            {% if current_user.is_admin %}
                                {{ render_nav_item('auth.browse_users','User Management' ) }}
                            {% endif %}

                        {% else %}
                            {{ render_nav_item('simple_pages.index', 'Home') }}
                        {% endif %}

                        {{ render_nav_item('simple_pages.about','About') }}
                        {{ render_nav_item('simple_pages.welcome','Welcome') }}

                <div class="navbar-nav d-flex">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                My Account
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for("auth.edit_profile") }}">Manage Profile</a></li>
                                <li><a class="dropdown-item" href="{{ url_for("auth.edit_account") }}">Manage Account</a></li>
                                <li><a class="dropdown-item" href="{{ url_for("auth.logout") }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        {{ render_nav_item('auth.register','Register' ) }}
                        {{ render_nav_item('auth.login','Login' ) }}
                    {% endif %}
                </div>
{% endblock %}
{% block content %}
    Login Page
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
    <div class="row mt-5">

        <div class="col-4 border border-1 border-dark mx-auto p-4">
            <h2>Login</h2>
            {{ render_form(form) }}
        </div>
    </div>

{% endblock %}
